In [5]:

import pandas as pd
unames =['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('movi-users.dat', sep='::', header=None, names=unames)

users[:5]

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [2]:
rnames=['user_id', 'movie_id', 'rating', 'timestamp']
ratings=pd.read_table('ratings.dat', sep='::', header=None, names=rnames)
ratings[:5]

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [4]:
mnames=['movie_id', 'title', 'genres']
movies=pd.read_table('movies.dat', sep='::', header=None, names=mnames)
movies[:5]

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

# 利用pandas的merge函数将ratings users合并 然后将movies也合并一起

In [7]:
data = pd.merge(pd.merge(ratings, users), movies)
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [9]:
data.ix[3]

user_id                                           15
movie_id                                        1193
rating                                             4
timestamp                                  978199279
gender                                             M
age                                               25
occupation                                         7
zip                                            22903
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 3, dtype: object

# 只要熟悉一下pandas, 就能轻松根据任意用户或电影属性对评分数据进行聚合操作了， 为了an性别计算每部电影的平均得分， 可以使用pivot_talbe方法

In [16]:
mean_ratings = data.pivot_table('rating',  index='title', columns='gender', aggfunc='mean')
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

# 根据size()得到一个含有个个电影分组大小的Series对象，我们想过滤掉影评小于250的电影

In [17]:
ratings_by_title = data.groupby('title').size()
print ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [18]:
active_titles=ratings_by_title[ratings_by_title>=250]
print active_titles

title
'burbs, The (1989)                                                     303
10 Things I Hate About You (1999)                                      700
101 Dalmatians (1961)                                                  565
101 Dalmatians (1996)                                                  364
12 Angry Men (1957)                                                    616
13th Warrior, The (1999)                                               750
2 Days in the Valley (1996)                                            286
20,000 Leagues Under the Sea (1954)                                    575
2001: A Space Odyssey (1968)                                          1716
2010 (1984)                                                            470
28 Days (2000)                                                         505
39 Steps, The (1935)                                                   253
54 (1998)                                                              259
7th Voyage of Sinbad, The (1958)                                       258
8MM (1999)                                                             272
About Last Night... (1986)                                             326
Absent Minded Professor, The (1961)                                    380
Absolute Power (1997)                                                  380
Abyss, The (1989)                                                     1715
Ace Ventura: Pet Detective (1994)                                      766
Ace Ventura: When Nature Calls (1995)                                  389
Addams Family Values (1993)                                            463
Addams Family, The (1991)                                              714
Adventures in Babysitting (1987)                                       541
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)     611
Adventures of Priscilla, Queen of the Desert, The (1994)               469
Adventures of Robin Hood, The (1938)                                   378
African Queen, The (1951)                                             1057
Age of Innocence, The (1993)                                           295
Agnes of God (1985)                                                    276
                                                                      ...
White Men Can't Jump (1992)                                            667
Who Framed Roger Rabbit? (1988)                                       1799
Who's Afraid of Virginia Woolf? (1966)                                 297
Whole Nine Yards, The (2000)                                           602
Wild Bunch, The (1969)                                                 264
Wild Things (1998)                                                     626
Wild Wild West (1999)                                                  902
William Shakespeare's Romeo and Juliet (1996)                          479
Willow (1988)                                                          802
Willy Wonka and the Chocolate Factory (1971)                          1313
Witness (1985)                                                        1046
Wizard of Oz, The (1939)                                              1718
Wolf (1994)                                                            272
Women on the Verge of a Nervous Breakdown (1988)                       353
Wonder Boys (2000)                                                     496
Working Girl (1988)                                                    514
World Is Not Enough, The (1999)                                        862
Wrong Trousers, The (1993)                                             882
Wyatt Earp (1994)                                                      270
X-Files: Fight the Future, The (1998)                                  996
X-Men (2000)                                                          1511
Year of Living Dangerously (1982)                                      391
Yellow Submarine (1968)                                                399
You've Got Mail (1998)                                                 838
Young Frankenstein (1974)                                             1193
Young Guns (1988)                                                      562
Young Guns II (1990)                                                   369
Young Sherlock Holmes (1985)                                           379
Zero Effect (1998)                                                     301
eXistenZ (1999)                                                        410
Length: 1216, dtype: int64

In [19]:
#根据mean_ratings选取所需行了
mean_ratings=mean_ratings.ix[active_titles]
print mean_ratings

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

gender                                                     F         M
title
Batman Returns (1992)                               2.980100  2.975904
Class of Nuke 'Em High (1986)                       2.666667  2.272727
Bushwhacked (1995)                                  2.000000  1.888889
Better Than Chocolate (1999)                        3.655172  3.410256
Cat People (1982)                                   3.264706  3.164286
Congo (1995)                                        2.347368  2.217021
Barb Wire (1996)                                    1.585366  2.100386
Cabaret (1972)                                      4.025641  3.836237
It Conquered the World (1956)                       2.500000  3.333333
Boiler Room (2000)                                  3.321739  3.492632
Braindead (1992)                                    1.888889  3.573770
Babysitter, The (1995)                              2.240000  2.871795
Back to the Future Part II (1989)                   3.154506  3.391351
Back to the Future (1985)                           3.932707  4.009259
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000  3.428571
Bed of Roses (1996)                                 3.027027  2.891304
Big Chill, The (1983)                               3.991701  3.827471
Big Chill, The (1983)                               3.991701  3.827471
It Came from Outer Space (1953)                     3.357143  3.362500
Cops and Robbersons (1994)                          2.416667  1.961538
Big Night (1996)                                    4.141844  4.074434
Body Heat (1981)                                    3.943925  4.055416
Closer You Get, The (2000)                          4.000000       NaN
Bronco Billy (1980)                                 2.923077  2.806667
Casper (1995)                                       3.291139  2.844444
Bogus (1996)                                        3.400000  2.333333
Big Bully (1996)                                    1.000000  2.000000
Escape from the Planet of the Apes (1971)           2.971831  3.053571
Basketball Diaries, The (1995)                      3.687500  3.488722
Bamba, La (1987)                                    3.487500  3.263441
...                                                      ...       ...
Choices (1981)                                           NaN  2.000000
Karate Kid, Part II, The (1986)                     2.767677  2.653439
Bastard Out of Carolina (1996)                      3.675676  3.615385
Carnosaur 2 (1995)                                  1.000000  1.521739
Bad Company (1995)                                  2.500000  2.921053
Celebration, The (Festen) (1998)                    4.307692  4.307692
Demolition Man (1993)                               3.027397  2.987654
Bootmen (2000)                                      2.800000  1.250000
Croupier (1998)                                     4.142857  3.994413
Get Over It (1996)                                       NaN  1.000000
Endurance (1998)                                    4.500000  3.250000
It Happened Here (1961)                                  NaN  3.000000
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000  3.428571
Best Laid Plans (1999)                              3.333333  3.500000
Boys Life 2 (1997)                                  4.000000  3.250000
Breakfast Club, The (1985)                          3.978571  3.842717
Daytrippers, The (1996)                             3.794872  3.658824
Death Wish 4: The Crackdown (1987)                  2.200000  2.139535
Badlands (1973)                                     4.056604  4.085106
Dry Cleaning (Nettoyage � sec) (1997)                    NaN  4.500000
Heidi Fleiss: Hollywood Madam (1995)                3.214286  3.555556
Big Sleep, The (1946)                               4.272000  4.324519
Billy's Hollywood Screen Kiss (1997)                3.700000  3.660714
Dancer, Texas Pop. 81 (1998)                        3.612903  3.439024
Flower of My Secret, The (La Flor de Mi Secreto...  4.600000  3.250000
Burglar (1987)                                      2.782609  2.338462
Beyond Rangoon (1995)                               3.560000  3.354839
Big Carnival, The (1951)                            3.300000  3.965517
Batman (1989)                                       3.482639  3.630796
Black Cauldron, The (1985)                          3.094340  3.190476

[1216 rows x 2 columns]

In [20]:
#了解女性观众喜欢看的电影， 我们可以对F降序排列
top_femal_ratings=mean_ratings.sort_index(by='F', ascending=False)
print top_femal_ratings[:10]

gender                                               F         M
title
Gate of Heavenly Peace, The (1995)                 5.0  5.000000
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.0  3.428571
Belly (1998)                                       5.0  3.000000
Belly (1998)                                       5.0  3.000000
Bittersweet Motel (2000)                           5.0       NaN
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.0  3.428571
Big Combo, The (1955)                              5.0  3.600000
Belly (1998)                                       5.0  3.000000
Coldblooded (1995)                                 5.0  3.588235
Country Life (1994)                                5.0  2.000000

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [22]:
#计算评分分歧
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings ['F']
sorted_by_diff = mean_ratings.sort_index(by='diff')
print sorted_by_diff[:15]

gender                                                    F         M  \
title
Country Life (1994)                                5.000000  2.000000
Babyfever (1994)                                   3.666667  1.000000
Babyfever (1994)                                   3.666667  1.000000
Babyfever (1994)                                   3.666667  1.000000
Babyfever (1994)                                   3.666667  1.000000
Cobra (1925)                                       4.000000  1.500000
Belly (1998)                                       5.000000  3.000000
Crude Oasis, The (1995)                            3.000000  1.000000
Belly (1998)                                       5.000000  3.000000
Coming Apart (1969)                                4.000000  2.000000
Belly (1998)                                       5.000000  3.000000
Coming Apart (1969)                                4.000000  2.000000
Coming Apart (1969)                                4.000000  2.000000
Battling Butler (1926)                             5.000000  3.222222
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.000000  3.428571

gender                                                 diff
title
Country Life (1994)                               -3.000000
Babyfever (1994)                                  -2.666667
Babyfever (1994)                                  -2.666667
Babyfever (1994)                                  -2.666667
Babyfever (1994)                                  -2.666667
Cobra (1925)                                      -2.500000
Belly (1998)                                      -2.000000
Crude Oasis, The (1995)                           -2.000000
Belly (1998)                                      -2.000000
Coming Apart (1969)                               -2.000000
Belly (1998)                                      -2.000000
Coming Apart (1969)                               -2.000000
Coming Apart (1969)                               -2.000000
Battling Butler (1926)                            -1.777778
Ballad of Narayama, The (Narayama Bushiko) (1958) -1.571429

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:

#对排序结果反序病取出前15行，得到的就是男性喜欢的电影
print sorted_by_diff[::-1][:15]

gender                                                F     M  diff
title
Dry Cleaning (Nettoyage � sec) (1997)               NaN  4.50   NaN
It Happened Here (1961)                             NaN  3.00   NaN
Get Over It (1996)                                  NaN  1.00   NaN
Choices (1981)                                      NaN  2.00   NaN
City of the Living Dead (Paura nella citt� dei ...  NaN  3.00   NaN
Century (1993)                                      NaN  2.00   NaN
Blood and Sand (Sangre y Arena) (1989)              NaN  3.00   NaN
Hillbillys in a Haunted House (1967)                NaN  1.00   NaN
Bat Whispers, The (1930)                            NaN  2.00   NaN
Born to Win (1971)                                  NaN  2.50   NaN
Silence of the Palace, The (Saimt el Qusur) (1994)  1.0   NaN   NaN
Big Trees, The (1952)                               NaN  3.25   NaN
Daens (1992)                                        NaN  4.00   NaN
Billy's Holiday (1995)                              NaN  3.00   NaN
Condition Red (1995)                                4.0   NaN   NaN